@font-face {
    font-family: "Ekibastuz";
    src: url("../fonts/ekibastuz_regular-webfont.eot");
}
@font-face {
    font-family: "Ekibastuz";
    src: url("../fonts/ekibastuz_bold-webfont.eot");
    font-weight: bold;
}
@font-face {
    font-family: "Ekibastuz";
    src: url("../fonts/ekibastuz_regular-webfont.ttf");
}
@font-face {
    font-family: "Ekibastuz";
    src: url("../fonts/ekibastuz_bold-webfont.ttf");
    font-weight: bold;
}

::selection{background:#333;color:#fff; text-decoration: none; text-shadow: none;}
::-moz-selection{background:#333;color:#fff; text-decoration: none; text-shadow: none;}

body.loaded {font-family: 'Ekibastuz',Helvetica, Arial;}

h1, h2, h1 a, h2 a {color: #333;}

a, a:visited, a:link {color: #41B7D8}

#e2-blog-title {
  font-size: 1.5em;
}

.rss-link {background-color: #FE6; 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 0 3px;
}


@media screen and (max-width:640px) {
  .form {
    margin-left: 0 !important;
    width: 90% !important;
  }

  .form-control .label {
    float: none !important;
    margin: 0 0 0.2em !important;
    width: 100% !important;
  }
  .form-control .label p {
    display: inline;
    margin-right: 0.33em;
  }

  .submit-box, .delete-box {
    margin-left: 0 !important;
  }

  .comment-meta-area, .comment-content-area {
    float: none !important;
    width: 90% !important;
  }

  .e2-comment-control-group.reply .tail {
    display: none;
  }
  .e2-comment-control-group.reply .comment-meta-area, .e2-comment-control-group.reply .comment-content-area {
    margin-left: 5%;
  }
  .e2-comment-control-group.reply .comment-content-area {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 5% !important;
    min-height: 0;
    _height: 0;
  }
  .e2-comment-control-group.reply .comment-control-area {
    margin-top: 0 !important;
    margin-left: 40px !important;
  }

  .comment-control-area {
    float: none !important;
    width: 90% !important;
  }

  .comment-secondary-controls {
    display: block !important;
  }

  .comment-author {
    font-weight: bold;
  }

  body {min-width: 320px;}

  .sidebar, .main-content, .header{
    float: none;
    clear: both;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .sidebar {
    float: none;
  }
  .e2-user-picture {
    text-align: left;
    width: 30%;
    margin-left: 5%;
    float: left;
  }
  .e2-user-picture img {max-width: 100%;}

  .form-search {
    margin-top: 30px;
  }
  .main-content pre, .main-content img {
    max-width: 100%; 
  }

  .visual-login {position: absolute; float: none;}
  .engine-info {margin-left: 50px; margin-top: 10px; float: none;  width: auto;}
  .copyrights {margin-left: 50px; float: none; width: auto;}
}